body{
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
}
.main .main-content{
    width:60%;
    margin-right: 20px;
}
.main .main-content h3{
    margin-bottom: 2rem;
}
.main .main-content p{
    margin-bottom: 2rem;
    line-height: 1.5;
}
.main .main-content button{
    margin-left: 40%;
    padding:0.5rem 5rem;
    background: purple;
    color:white;
    border-radius: 5px;
}
.main .logo{
    width: 20%;
    margin-top: 1.5rem;
}
.main .logo img{
    width: 100%;
    border-radius: 10px;
    margin-top: 0;
}